                                <div class="news_share row my-4 w-100 mx-auto">
<% if(config.param.articlesns.twitter) { %>
                                    <a class="btn news_btn news_btnTwitter col-6 col-lg-4 col-xl-2 mx-1 px-1 mb-3 rounded-0" href="http://twitter.com/share?url=<%= articleUrl %>&text=<%= metaTitle %>%20%2d%20<%= config.commons.sitename %>" target="_blank" title="Twitterでツイート"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i>ツイート</a>
<% } if(config.param.articlesns.facebook) { %>
                                    <a class="btn news_btn news_btnFacebook col-6 col-lg-4 col-xl-2 mx-1 px-1 mb-3 rounded-0" href="https://www.facebook.com/sharer/sharer.php?u=<%= articleUrl %>" target="_blank" title="Facebookに投稿"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i>投稿</a>
<% } if(config.param.articlesns.googleplus) { %>
                                    <a class="btn news_btn news_btnGooglePlus col-6 col-lg-4 col-xl-2 mx-1 px-1 mb-3 rounded-0" href="https://plus.google.com/share?url=<%= articleUrl %>" target="_blank" title="Google+に投稿"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i>投稿</a>
<% } if(config.param.articlesns.line) { %>
                                    <a class="btn news_btn news_btnLine col-6 col-lg-4 col-xl-2 mx-1 px-1 mb-3 rounded-0" href="http://line.me/R/msg/text/?<%= metaTitle %>%20%2d%20<%= config.commons.sitename %>%20<%= articleUrl %>" target="_blank" title="LINEトークに送る"><i class="fas fa-fw fa-comment" aria-hidden="true"></i>送る</a>
<% } if(config.param.articlesns.pocket) { %>
                                    <a class="btn news_btn news_btnPocket col-6 col-lg-4 col-xl-2 mx-1 px-1 mb-3 rounded-0" href="https://getpocket.com/edit?url=<%= articleUrl %>" target="_blank" title="Pocketに保存"><i class="fab fa-fw fa-get-pocket" aria-hidden="true"></i>あとで</a>
<% } if(config.param.articlesns.feedly) { %>
                                    <a class="btn news_btn news_btnRss col-6 col-lg-4 col-xl-2 mx-1 px-1 mb-3 rounded-0" href="https://feedly.com/i/subscription/feed/<%= config.commons.url %>rss.xml" target="_blank" title="Feedlyに登録"><i class="fas fa-fw fa-rss" aria-hidden="true"></i>Feedly</a>
<% } %>
                                </div>