<!-- header -->
<header class="header" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand my-0 navbar_head" href="<%= relPath %>#wrapper"><%= config.commons.sitename %></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarList" aria-controls="navbarList" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarList">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="linkTwitter nav-link" href="http://twitter.com/share?url=<%= config.commons.url %>&text=<%= config.commons.sitename %>%20%2d%20<%= metaDescription %>" target="_blank" title="Twitterでツイート"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i>ツイート</a>
                    </li>
                    <li class="nav-item">
                        <a class="linkFacebook nav-link" href="https://www.facebook.com/sharer/sharer.php?u=<%= config.commons.url %>" target="_blank" title="Facebookに投稿"><i class="fab fa-fw fa-facebook" aria-hidden="true"></i>投稿</a>
                    </li>
                    <li class="nav-item">
                        <a class="linkLine nav-link" href="http://line.me/R/msg/text/?<%= config.commons.sitename %>%20%2d%20<%= metaDescription %>%20<%= config.commons.url %>" target="_blank" title="LINEトークに送る"><i class="fab fa-fw fa-line" aria-hidden="true"></i>送る</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- /header -->