<%
parameters = {
    title: "特徴",
    entitle: "About Page",
    css: "contents",
    js: "app.min",
    description: "Kiribi Ususamaの特徴についてご説明します。",
    ogpimage: "eyecatch.jpg"
}
%><%- include("util/_init_load") %><%- include("util/_headset", { config, parameters }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- config.commons.slayer %>
<%- include("partial/_head", { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="upper">
<%- include("partial/_header", { config, commonVar }) %>
<%- include("partial/_eyecatch", { headerString }) %>
    <!-- main -->
    <main class="main <%= id %>main">
        <aside class="container">
<%- include("partial/_breadcrumb", { parameters, relPath }) %>
        </aside>
        <section class="container my-5">
            <div class="page-header mb-3 text-center features_header">
                <h2>主な特徴<small class="ml-3">Main Features</small></h2>
            </div>
            <div class="row align-items-center my-4 features_contents features_gulp fixed_anchor" id="features_gulp">
                <div class="col-12 col-md-3 mb-3 text-center">
                    <i class="fab fa-fw fa-9x fa-gulp" aria-hidden="true"></i>
                </div>
                <div class="col-12 col-md-9 mb-3">
                    <h3>gulp</h3>
                    <p>タスクランナーに<a href="https://gulpjs.com" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>gulp</a>を採用し、下記の工程を一括で管理します。</p>
                    <ul>
                        <li>サイト名やメインカラー、ヘッダの高さなど、サイト全体で使用するパラメータをYAMLファイルで管理。集中管理することでHTML<span class="mr-2">,</span>Scssを横断して共通のパラメータを使用できます。
                            <ul>
                                <li>メインカラー<span class="mr-2">:</span>
                                    <ul>
                                        <li>HTML<span class="mr-2">:</span><a href="#features_themecolor"><code>&lt;meta name="theme-color"&gt;</code></a></li>
                                        <li>Scss<span class="mr-2">:</span>メインカラーの指定</li>
                                    </ul>
                                </li>
                                <li>ヘッダの高さ<span class="mr-2">:</span>
                                    <ul>
                                        <li>HTML<span class="mr-2">:</span><code>&lt;body data-offset="80"&gt;</code></li>
                                        <li>Scss<span class="mr-2">:</span>ヘッダの高さ分アイキャッチ画像の指定を調整</li>
                                    </ul></li>
                            </ul>
                        </li>
                        <li><code>gulp</code><span class="mr-2">:</span>既定のブラウザを起動、<strong>自動でプレビューを表示</strong>。以降、<strong>コードを編集する度に自動リロード</strong></li>
                        <li><code>gulp init</code><span class="mr-2">:</span>下記一式<span class="mx-2">+</span><code>gulp</code>の自動リロード</li>
                        <li><code>gulp ejs</code><span class="mr-2">:</span>ejsからHTMLへのコンパイル</li>
                        <li><code>gulp sass</code><span class="mr-2">:</span>Scssからcssへのコンパイル<span class="mx-2">+</span>minify<span class="mx-2">+</span><a href="#features_prefix">ベンダープレフィックスの自動付与</a></li>
                        <li><code>gulp js</code><span class="mr-2">:</span>JavaScriptのminify</li>
                        <li><code>gulp imagemin</code><span class="mr-2">:</span>画像の圧縮</li>
                        <li><code>gulp styleguide</code><span class="mr-2">:</span><a href="#features_styleguide">スタイルガイド</a>を生成</li>
                        <li><code>gulp ftp</code><span class="mr-2">:</span><a href="#features_initsetting">予め設定しておいた</a>FTP情報を使用して、サーバへFTPアップロードを行います</li>
                    </ul>
                </div>
            </div>
<h3>参考</h3>
<a href="https://ie-buster.qranoko.jp/">IE Buster - IEの亡霊からWeb制作者を守る「IEバスター」</a><br>
<br>
<br>
<a href="https://gk2.jp/2018-statistics-pc-sp-browser-usage-check-share-rate-of-japanese-iphone-users-too/">【2018年の統計】PC・SPのブラウザ利用チェック。日本のiPhoneユーザーのシェア率も！ | 外国人の彼女2.0</a><br>
<a href="https://twitter.com/Bredtn_1et/status/1034599994240598016">アルム＝バンド@Lravel+Vue始めましたさんのツイート: &quot;IEのここが凄い！ ・時々固まる ・最新の11でも最新どころか数年前の仕様にすら対応してない ・cssグラデーションなど、独自記法がある ・バージョンごとに互換性がない ・下位互換を使わせたがる ・Windowsに標準で付いてきて使用者が多い ・公式も匙を投げた IEのここがダメ！ ・上記全て、存在自体&quot;</a><br>
<a href="https://twitter.com/chisamikan/status/1030578137984200704">千紗みかん⚓️北極星と船霊達さんのツイート: &quot;IEで泣いた事案の一例 https://t.co/pURA8SmyOt&quot;</a><br>
<a href="https://twitter.com/chisamikan/status/1030323545174228994">千紗みかん⚓️北極星と船霊達さんのツイート: &quot;GoogleフォントがIE11で正常に表示されなくなった [CSS] on @Qiita https://t.co/E2O4bqZpn0&quot;</a><br>
<a href="https://qiita.com/chisamikan/items/c4d37754d175c17fbe41">GoogleフォントがIE11で正常に表示されなくなった - Qiita</a><br>
<a href="https://googlefonts.github.io/japanese/#roundedmplus1c">Google Fonts + Japanese • Google Fonts + 日本語</a><br>
<a href="https://twitter.com/Stocker_jp/status/971557334743891968">なつき@Webデザインスクール土曜開催さんのツイート: &quot;&quot;IE対応と言われたら金額倍くらいを提示したい&quot; https://t.co/w9fWn0X3iG&quot;</a><br>
<a href="https://anond.hatelabo.jp/20180308013517">IE対応と言われたら金額倍くらいを提示したい</a><br>
<a href="https://twitter.com/hashtag/IE%E5%AF%BE%E5%BF%9C%E3%81%AF%E7%89%B9%E5%88%A5%E6%96%99%E9%87%91%E5%88%B6%E3%81%AB%E3%81%99%E3%81%B9%E3%81%8D?src=hash">ハッシュタグ #IE対応は特別料金制にすべき</a><br>
<a href="https://twitter.com/hashtag/IE%E6%92%B2%E6%BB%85?src=hash">ハッシュタグ #IE撲滅</a><br>
<a href="https://twitter.com/hashtag/IE%E6%92%B2%E6%BB%85%E6%B4%BB%E5%8B%95?src=hash">ハッシュタグ #IE撲滅活動</a><br>
<a href="https://twitter.com/hashtag/IE%E6%92%B2%E6%BB%85%E5%A7%94%E5%93%A1%E4%BC%9A?src=hash">ハッシュタグ #IE撲滅委員会</a>
            <div class="text-center my-4">
                <a href="<%= relPath %>" class="btn btn-light"><i class="fas fa-fw fa-chevron-left" aria-hidden="true"></i>トップページへ戻る</a>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<%- include("partial/_footer", { config, copyRightYear }) %>
</div>
<%- include("partial/_js_loader", { parameters, relPath }) %>
</body>
</html>