<%
parameters = {
    title: "ホーム",
    entitle: "Home",
    css: "index",
    js: "app.min",
    description: config.commons.description,
    ogpimage: config.commons.url + parameters.ogpimage
}
const indexCounter = () => {
    let cnt = `最新${String(config.param.indexcount)}`;
    if(config.param.indexcount <= 0) {
        cnt = "全";
    }
    return cnt;
}
%><%- include("util/_init_load") %><%- include("util/_functions_article") %><%- include("util/_headset", { config, parameters }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-spy="scroll" data-target="#navbarMenu" data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="upper">
<%- include("partial/_header", { config, commonVar }) %>
<%- include("partial/_eyecatch", { headerString, parameters }) %>
    <!-- main -->
    <main class="main <%= id %>main">
        <section class="container my-5 topics fixed_anchor" id="topics">
            <div class="page-header mb-3 text-center topics_header">
                <h2>「<i class="fab fa-fw fa-internet-explorer" aria-hidden="true"><span class="sr-only">Internet Explorer</span></i>の使用を止めるように」</h2>
            </div>
            <p class="lead">ご存知でしたか？Microsoftから<%- config.commons.ie %>の使用を止めるように要請が出ていたことを――</p>
            <div class="topics_contents">
                <p>2019/2/6にMicrosoftの技術者ブログ上で、<a href="https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/The-perils-of-using-Internet-Explorer-as-your-default-browser/ba-p/331732">「Internet Explorerの使用を止める」ように<strong>企業に対して要請</strong>が出され</a>ました。</p>
                <h3 class="mt-2 mb-1"><%- config.commons.ie %>とは？</h3>
                <p><%- config.commons.ie %>(インターネット エクスプローラ)は、<a href="https://www.yahoo.co.jp">Yahoo!JAPAN</a>やホームページ、インターネットの検索をする際に開くソフトウェアです。</p>
                <p>お手元のパソコンで画面の下に出ている「<i class="fab fa-fw fa-internet-explorer" aria-hidden="true"></i>」のアイコン。クリックするとYahoo!JAPANが開くそのアイコンこそが、Internet Explorerなのです。</p>
                <h3 class="mt-2 mb-1"><i class="fab fa-fw fa-internet-explorer" aria-hidden="true"></i> ≠ Yahoo!JAPAN</h3>
                <p>Yahoo!JAPANは<strong>Internet Explorerというソフトウェアが、起動時に最初に表示するページとして設定されているだけ</strong>で、実は「<i class="fab fa-fw fa-internet-explorer" aria-hidden="true"></i>」というアイコンとの直接の関係はありません。</p>
                <p>Yahoo!JAPANを開いたり、Youtubeで動画を閲覧したり、何か調べ物で検索を行う際に知らず知らずに利用しているソフトウェア、それがInternet Explorerであり、Yahoo!JAPANなど、表示される「ページ」とは<strong>まったく別の存在(「ソフトウェア」)</strong>なのです。</p>
                <h3 class="mt-2 mb-1"><%- config.commons.ie %>の仲間</h3>
                <p>繰り返しになりますが、Internet Explorerはインターネット上のホームページを開くために使用する「ソフトウェア」です。</p>
                <p>こうしたソフトウェアを<strong>ブラウザ</strong>と言います。</p>
                <p>ブラウザはInternet Explorer以外にも多くの種類があり、Googleが開発している「<a href="https://www.google.com/intl/ja_ALL/chrome/"><i class="fab fa-fw fa-chrome" aria-hidden="true"></i>Google Chrome(クローム)</a>」やMozillaの「<a href="https://www.mozilla.org/ja/firefox/new/"><i class="fab fa-fw fa-firefox" aria-hidden="true"></i>Firefox(ファイアフォックス)</a>」が代表的な存在です。</p>
                <p>もしお持ちのスマートフォンがiPhoneならば、「<i class="fab fa-fw fa-safari" aria-hidden="true"></i>Safari(サファリ)」があるはずです。</p>
                <p>そう、ブラウザはInternet Explorerだけではないのです。そして、これらのブラウザはみな無料で使用することができます。</p>
            </div>
        </section>
<h3>参考</h3>
<a href="https://ie-buster.qranoko.jp/">IE Buster - IEの亡霊からWeb制作者を守る「IEバスター」</a>
<a href="https://caniuse.com/#feat=css-grid">Can I use... Support tables for HTML5, CSS3, etc</a>
<a href="https://caniuse.com/#feat=flexbox">Can I use... Support tables for HTML5, CSS3, etc</a>
<a href="https://gk2.jp/2018-statistics-pc-sp-browser-usage-check-share-rate-of-japanese-iphone-users-too/">【2018年の統計】PC・SPのブラウザ利用チェック。日本のiPhoneユーザーのシェア率も！ | 外国人の彼女2.0</a>
<a href="https://twitter.com/Bredtn_1et/status/1034599994240598016">アルム＝バンド@Lravel+Vue始めましたさんのツイート: &quot;IEのここが凄い！ ・時々固まる ・最新の11でも最新どころか数年前の仕様にすら対応してない ・cssグラデーションなど、独自記法がある ・バージョンごとに互換性がない ・下位互換を使わせたがる ・Windowsに標準で付いてきて使用者が多い ・公式も匙を投げた IEのここがダメ！ ・上記全て、存在自体&quot;</a>
<a href="https://twitter.com/chisamikan/status/1030578137984200704">千紗みかん⚓️北極星と船霊達さんのツイート: &quot;IEで泣いた事案の一例 https://t.co/pURA8SmyOt&quot;</a>
<a href="https://twitter.com/chisamikan/status/1030323545174228994">千紗みかん⚓️北極星と船霊達さんのツイート: &quot;GoogleフォントがIE11で正常に表示されなくなった [CSS] on @Qiita https://t.co/E2O4bqZpn0&quot;</a>
<a href="https://qiita.com/chisamikan/items/c4d37754d175c17fbe41">GoogleフォントがIE11で正常に表示されなくなった - Qiita</a>
<a href="https://googlefonts.github.io/japanese/#roundedmplus1c">Google Fonts + Japanese • Google Fonts + 日本語</a>
<a href="https://twitter.com/Stocker_jp/status/971557334743891968">なつき@Webデザインスクール土曜開催さんのツイート: &quot;&quot;IE対応と言われたら金額倍くらいを提示したい&quot; https://t.co/w9fWn0X3iG&quot;</a>
<a href="https://anond.hatelabo.jp/20180308013517">IE対応と言われたら金額倍くらいを提示したい</a>
<a href="https://japanese.engadget.com/2019/02/08/internet-explorer-ie/">マイクロソフト、企業にInternet Explorerの使用をやめるよう要請。「IEは技術的負債もたらす」 - Engadget 日本版</a>
<a href="https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/The-perils-of-using-Internet-Explorer-as-your-default-browser/ba-p/331732">The perils of using Internet Explorer as your default browser - Microsoft Tech Community - 331732</a>

        <section class="container my-5 aboutpage fixed_anchor" id="aboutpage">
            <div class="page-header mb-3 text-center features_header">
                <h2>このサイトについて<small class="ml-3">About</small></h2>
            </div>
            <div class="row about_contents">
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-100 border-0">
                        <div class="card-header px-2 py-3 text-center bg-white border-0">
                            <i class="fab fa-fw fa-5x fa-gulp" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-2 py-3 text-center">
                            <h3 class="card-title">gulp</h3>
                            <p class="card-text">タスクランナーにgulpを採用し、ソースのコンパイルから自動プレビューまで一括で管理します。</p>
                        </div>
                        <div class="card-footer px-2 py-3 text-center bg-white border-0">
                            <a href="<%= relPath %>about.html#features_gulp" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>さらに詳しく</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-100 border-0">
                        <div class="card-header px-2 py-3 text-center bg-white border-0">
                            <i class="fas fa-fw fa-5x fa-mobile-alt" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-2 py-3 text-center">
                            <h3 class="card-title">Honoka</h3>
                            <p class="card-text">Bootstrapテーマの「Honoka」をベースとすることで、導入コストを削減。レスポンシブWebデザインを簡単に実現できます。</p>
                        </div>
                        <div class="card-footer px-2 py-3 text-center bg-white border-0">
                            <a href="<%= relPath %>about.html#features_honoka" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>さらに詳しく</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-100 border-0">
                        <div class="card-header px-2 py-3 text-center bg-white border-0">
                            <i class="fas fa-fw fa-5x fa-list" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-2 py-3 text-center">
                            <h3 class="card-title">News</h3>
                            <p class="card-text">新着情報をテンプレートで一括管理。Markdownコンテンツから、一覧ページ・各記事ページを自動生成します。</p>
                        </div>
                        <div class="card-footer px-2 py-3 text-center bg-white border-0">
                            <a href="<%= relPath %>about.html#features_news" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>さらに詳しく</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="<%= relPath %>about.html" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>その他の機能について</a>
                </div>
            </div>
        </section>
        <section class="container my-5 how2use fixed_anchor" id="how2use">
            <div class="page-header mb-3 text-center how2use_header">
                <h2>使い方<small class="ml-3">How to use?</small></h2>
            </div>
            <div class="how2use_contents">
                <ol class="pb-3">
                    <li><code>git clone https://github.com/arm-band/kiribi_ususama.git</code>、または<a href="https://github.com/arm-band/kiribi_ususama/releases" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>Kiribi UsusamaのGithubリポジトリ</a>からダウンロード</li>
                    <li><code>npm i -D</code><small class="ml-3">(または<code>npm install --save-dev</code>)</small></li>
                    <li><code>npm start</code><small class="ml-3">(<code>npm i -D</code>したファイルの再配置<span class="mx-2">+</span>初期設定画面生成・表示<span class="mx-2">+</span>初期設定完了後、<code>gulp init</code>実行)</small>
                        <ul>
                            <li><small>このコマンドで生成したディレクトリや<code>package-lock.json</code>等は<code>npm run fujoketsu</code>(不浄潔)で削除できます</small></li>
                        </ul>
                    </li>
                    <li>2回目以降は<code>npm test</code>でブラウザ起動<span class="mx-2">+</span>自動リロード</li>
                </ol>
            </div>
            <div class="text-center">
                <p>ファイルの説明や詳しい使い方は<a href="https://docshed.ewigleere.net/ususama_book/" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>マニュアル(GitBook)</a>を参照。</p>
            </div>
        </section>
        <section class="container-fluid my-5 origin fixed_anchor" id="origin">
            <div class="container-fluid origin_container">
                <div class="container pb-5 fixed_anchor">
                    <div class="page-header mb-3 text-center origin_header">
                        <h2>名前の由来<small class="ml-3">Origin of name</small></h2>
                    </div>
                    <div class="pb-3 origin_contents">
                        <p>Bootstrapを使っていることから。Bootstrapが電源投入、自動実行といった意味合いなので、何か物事を始めるイメージと火で火打石を連想。ただし、「Hiuchiishi」だと長いので別の単語にしたかった、かつ、これから事を始めるに当たって最初に魔除けを行う、という意味も込めて「切り火」から「Kiribi」としました。</p>
                        <p>一方、gulpは飲み込む、ごくごくと飲むという意味なので、上記の火のイメージを踏襲しつつ、何かを飲み込む逸話を持つ神仏ということで、一切不浄を飲み込み浄化する「烏枢沙摩明王」からお名前をお借りし、「Kiribi Ususama」としました。</p>
                    </div>
                </div>
            </div>
        </section>
<%
if(gulpConfig.news) {
    const counter = indexCounter();
%>
        <section class="container my-5 releasenotes fixed_anchor" id="releasenotes">
            <div class="page-header mb-3 text-center releasenotes_header">
                <h2>更新履歴<small class="ml-3">Release Notes</small></h2>
            </div>
            <div class="releasenotes_contents">
                <p class="text-center">更新履歴一覧(<%= counter %>件)です。</p>
                <div class="row align-items-top my-4">
<%- include("partial/_newscards.ejs", { relPath, newsBlock }) %>
                </div>
            </div>
            <div class="text-center">
                <a href="<%= relPath %>news/news1.html" class="btn btn-light"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>過去の更新履歴</a>
            </div>
        </section>
<% } %>
    </main>
    <!-- /main -->
</div>
<%- include("partial/_footer", { config, copyRightYear }) %>
</div>
<%- include("partial/_js_loader", { parameters, relPath }) %>
</body>
</html>