<%
parameters = {
    title: "ホーム",
    entitle: "Home",
    css: "index",
    js: "app.min",
    description: config.commons.description,
    ogpimage: config.commons.url + parameters.ogpimage
}
const indexCounter = () => {
    let cnt = `最新${String(config.param.indexcount)}`;
    if(config.param.indexcount <= 0) {
        cnt = "全";
    }
    return cnt;
}
%><%- include("util/_init_load") %><%- include("util/_functions_article") %><%- include("util/_headset", { config, parameters }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { config, parameters, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body data-spy="scroll" data-target="#navbarMenu" data-offset="<%= navbarHeight %>" class="<%= id %>" id="<%= id %>">
<div id="wrapper">
<div class="upper">
<%- include("partial/_header", { config, commonVar }) %>
<%- include("partial/_eyecatch", { headerString, parameters }) %>
    <!-- main -->
    <main class="main <%= id %>main">
        <section class="container-fluid my-5 topics">
            <div class="container">
                <div class="page-header text-center topics_header">
                    <h2 class="mb-1">「<%- config.commons.iel %><%= config.commons.iet %>の使用を止めるように」</h2>
                </div>
                <p class="lead mb-3 text-center"><span class="mr-1">ご存知でしたか？</span>Microsoftから<%= config.commons.iet %>の使用を止めるように要請が出ていたことを</p>
                <div class="topics_contents">
                <p>2019/2/6にMicrosoftの技術者ブログ上で、<a href="https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/The-perils-of-using-Internet-Explorer-as-your-default-browser/ba-p/331732" target="_blank">「<%= config.commons.iet %>の使用を止める」ように<strong>企業に対して要請</strong>が出され</a>ました<small>(※リンク先英語記事)</small>。</p>
                </div>
            </div>
        </section>
        <section class="container-fluid my-5 index">
            <div class="container">
                <h4 class="mt-1 mb-0 text-center">目次</h4>
                <div class="grid_container mt-3">
                    <div class="grid_column">
                        <h5><a href="#aboutIe"><%- config.commons.ielm %><%= config.commons.iet %>とは？</a></h5>
                        <ul>
                            <li><a href="#aboutIe"><%= config.commons.iet %>とは？</a></li>
                            <li><a href="#ieNotYahoo"><%= config.commons.iet %>？Yahoo!JAPANじゃないの？</a></li>
                            <li><a href="#browsers">ほかにどんなブラウザがあるの？</a></li>
                            <li><a href="#statistics">世の中の60%以上はGoogle Chrome</a></li>
                        </ul>
                    </div>
                    <div class="grid_column">
                        <h5><a href="#ieProbrem"><%- config.commons.ielm %><%= config.commons.iet %>の問題</a></h5>
                        <ul>
                            <li><a href="#ieProbrem"><%= config.commons.iet %>の問題</a></li>
                            <li><a href="#legacyOrModern"><%= config.commons.iet %>か？スマートフォンか？</a></li>
                            <li><a href="#liabilities"><%= config.commons.iet %>の「技術的負債」</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
<%- config.commons.yukari %>
        <section class="container-fluid py-5 aboutIe" id="aboutIe">
            <div class="container">
                <div class="page-header text-center aboutIe_header">
                    <h2 class="mb-1"><%- config.commons.iel %><%= config.commons.iet %>とは？</h2>
                </div>
                <p class="lead mb-3 text-center"><%= config.commons.iet %><span class="mx-1">＝</span>青い「e」のアイコン</p>
                <div class="aboutIe_contents mb-4">
                    <p class="mb-1">まずはちょっと思い出してください。あなたがパソコンで<a href="https://www.yahoo.co.jp" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>Yahoo!JAPAN</a>を開くとき、どういったアイコンをクリックしますか？</p>
                    <img src="./img/ie_taskbar_icon.jpg" alt="タスクバーのIEのアイコン" class="ml-3">
                    <p>この黄色い輪がついた青い「e」のアイコン(<%- config.commons.ielm %>)でしょうか？</p>
                    <p>まさにそれです。実はこの<span class="underline"><%- config.commons.ielm %>のアイコンをクリックして起動するソフトウェア</span>が、「<%= config.commons.iet %>(インターネット・エクスプローラ)」と呼ばれるものなのです。</p>
                </div>
                <div class="page-header text-center ieNotYahoo_header" id="ieNotYahoo">
                    <h2 class="mb-1"><%- config.commons.iel %><%= config.commons.iet %>？Yahoo!JAPANじゃないの？</h2>
                </div>
                <p class="lead mb-3 text-center"><%= config.commons.iet %>は「ソフトウェア」、Yahoo!JAPANは「ホームページ」</p>
                <div class="ieNotYahoo_contents mb-4">
                    <p>はい。意識はしないかもしれませんが、実は別のものです。</p>
                    <p>Yahoo!JAPANはインターネットから情報を検索する、というやや特殊な役割を持っていますが、ブログの記事やニュースメディアと同じようにあくまで「ソフトウェアで開くホームページの1つ」です。</p>
                    <p>逆に、こうしたホームページを開くために使うソフトウェアを「<strong>ブラウザ</strong>」といいます。<small>なお、ブラウザは「(本や雑誌を)ざっと読む、拾い読みする」という意味の英語に由来します。</small></p>
                    <p><span class="underline"><%= config.commons.iet %>はブラウザ(ソフトウェア)</span>の一種です。</p>
                </div>
                <div class="page-header text-center browsers_header" id="browsers">
                    <h2 class="mb-1">ほかにどんなブラウザがあるの？</h2>
                </div>
                <p class="lead mb-3 text-center">代表的なブラウザは「Chrome」「Safari」「Firefox」</p>
                <div class="browsers_contents">
                    <p><%= config.commons.iet %>がブラウザの「一種」ということは、他にもブラウザがあるということになります。</p>
                    <p>代表的なものとしては、以下のブラウザが挙げられます。</p>
                    <ul class="fa-ul mb-3">
                        <li class="mb-1"><i class="fab fa-li fa-chrome magni1_5" aria-hidden="true"></i>Google Chrome(グーグル・クローム)</li>
                        <li class="mb-1"><i class="fab fa-li fa-firefox magni1_5" aria-hidden="true"></i>Safari(サファリ)</li>
                        <li class="mb-1"><i class="fab fa-li fa-safari magni1_5" aria-hidden="true"></i>Firefox(ファイアフォックス)</li>
                        <li class="mb-1"><i class="fab fa-li fa-edge magni1_5" aria-hidden="true"></i>Edge(エッジ)</li>
                    </ul>
                    <p>SafariはiPhoneに標準搭載されているブラウザです。Google ChromeもiPhoneではないスマートフォン(Android(アンドロイド))に標準搭載されています。</p>
                    <p>そのため、SafariとGoogle Chromeはスマートフォンを使ったことのある方ならおなじみかもしれません。</p>
                    <p>ちなみに、<a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>はパソコンにもインストールできます。同じようにパソコンにインストールできるブラウザとして、<a href="https://www.mozilla.org/ja/firefox/new/" target="_blank">Firefox</a>があります。どちらも無料です。</p>
                    <p>また、お使いのパソコンが新しい(Windows10)場合、<%- config.commons.ielm %><%- config.commons.iet %>とロゴが似ている<i class="fab fa-fw fa-edge magni1_5" aria-hidden="true"></i>Edgeというブラウザが標準搭載されています。</p>
                </div>
                <div class="page-header text-center statistics_header" id="statistics">
                    <h2 class="mb-1">世の中の60%以上はGoogle Chrome</h2>
                </div>
                <p class="lead mb-3 text-center"><%= config.commons.iet %>はたったの3%！</p>
                <div class="statistics_contents">
                    <p>「Google Chrome？Safari？聞いたことないなぁ……」</p>
                    <p>もしかしたら、そう感じるかもしれません。</p>
                    <p>しかし、先ほども述べたように、Google ChromeやSafariはスマートフォンに標準搭載されていますので、意識せずともお世話になっている方も多いはずです。</p>
                    <p class="mb-1">それでは、数字ではどうでしょうか？</p>
                    <p>統計データを見ると、統計の手法や対象範囲によってバラつきはあるものの、<a href="http://gs.statcounter.com" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>http://gs.statcounter.com</a>という統計データサイトでは、世界のブラウザの<strong>約61%</strong>がGoogle Chromeとなっています(2019年1月現在)。</p>
                    <p>一方の<%= config.commons.iet %>は<strong>約3%</strong>となっています。</p>
                    <div><a href="<%= relPath %>img/statcounter_browser_world.png" data-lightbox="statistics1"><img src="<%= relPath %>img/statcounter_browser_world.png" alt="世界のブラウザシェア率(2018/1～2019/1)。2019/1現在、Google Chromeは約61%、<%= config.commons.iet %>は約9.4%となっています。" class="img-fluid"></a></div>
                    <p class="mt-2">日本国内で限定するとどうでしょうか？</p>
                    <p>割合こそ下がるものの、Google Chromeは<strong>約43%</strong>。一方の<%= config.commons.iet %>は<strong>約9%</strong>と<strong>1割を切って</strong>います(2019年1月現在)。日本国内でも、Google Chromeと<%= config.commons.iet %>は実に4倍以上の差があります！</p>
                    <div><a href="<%= relPath %>img/statcounter_browser_japan.png" data-lightbox="statistics2"><img src="<%= relPath %>img/statcounter_browser_japan.png" alt="日本のブラウザシェア率(2018/1～2019/1)。2019/1現在、Google Chromeは約43%、<%= config.commons.iet %>は約9%となっています。" class="img-fluid"></a></div>
                    <p class="mt-2">このように、<span class="underline">世の中の大多数の人はGoogle Chromeを使ってホームページを見ている</span>のです。</p>
                    <p>しかも、来年には<%= config.commons.iet %>のシェア(使用)率は<strong>さらに下がる</strong>ことが見込まれます<small>(※Windows7のサポート終了に伴い、<%= config.commons.iet %>を標準とするパソコンが減少するため)</small>。</p>
                </div>
            </div>
        </section>
        <section class="container my-5 ieProbrem" id="ieProbrem">
            <div class="page-header text-center ieProbrem_header">
                <h2 class="mb-1"><%- config.commons.iel %><%= config.commons.iet %>の問題</h2>
            </div>
            <p class="lead mb-3 text-center">互換性のために残されている<%= config.commons.iet %></p>
            <div class="ieProbrem_contents">
                <p>さて、<%= config.commons.iet %>の何が問題なのでしょうか？</p>
                <p><a href="https://techcommunity.microsoft.com/t5/Windows-IT-Pro-Blog/The-perils-of-using-Internet-Explorer-as-your-default-browser/ba-p/331732" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>最初に挙げた記事</a>では、<%= config.commons.iet %>は<q>古いWebアプリケーションを動作させる互換性のためのソリューション</q>と述べています。</p>
                <p>また、<a href="https://blogs.technet.microsoft.com/jpieblog/2018/07/18/internet-explorer-support/" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>Microsoftは2018年7月に</a>も<q>現在の世の中にあふれるリッチなコンテンツは、すでに <%= config.commons.iet %> ではサポートしていない最新技術を利用して実現</q>と、<%= config.commons.iet %>がモダンな技術に対応できていないことを認めています。</p>
                <p>さらに過去にさかのぼると、<a href="https://blogs.windows.com/japan/2015/08/24/evaeyeedge/" target="_blank"><i class="fas fa-fw fa-external-link-alt" aria-hidden="true"></i>Micorosftは2015年8月に</a><q>セキュリティ対策などのマイナーアップデートは今後も行われますが、新機能が追加される予定はありません</q>と発表しており、<%= config.commons.iet %>の新しい技術への対応はかなり前から実施しない方針であることを明らかにしていました。</p>
                <p>その上で<q>Legacy Web から Modern Web への移行を十分に余裕をもった計画で検討を進める必要がある</q>と、モダンな環境に移行するように呼びかけを行っています。</p>
                <p><%= config.commons.iet %>は、<span class="underline">開発元・公式であるMicrosoftからも他への移行を求められている</span>のです。</p>
            </div>
        </section>
        <section class="container my-5 legacyOrModern" id="legacyOrModern">
            <div class="page-header text-center legacyOrModern_header">
                <h2 class="mb-1"><%= config.commons.iet %>か？スマートフォンか？</h2>
            </div>
            <p class="lead mb-3 text-center"><%= config.commons.iet %>は企業に「技術的負債」を強いる</p>
            <div class="legacyOrModern_contents">
                <p>今や多くの人が持っているスマートフォン。操作している手元をよく見ると、ほとんどの人は画面を縦向きにして使用していることでしょう。</p>
                <p>一方、パソコンの画面は横長です。</p>
                <p>現在のホームページは、パソコンの横長の画面でも、スマートフォンの縦長の画面でも、それぞれの画面に適したデザインで表示するように作られています。</p>
                <p class="mb-1">ただし、何もせずしてそうなっているわけではなく、世のWebデザイナーやプログラマーが工夫することで、そのようなデザインを提供することが初めて可能となります。</p>
                <p>スマートフォンが普及し始めた頃は、横長と縦長の両方に適したデザインを提供することは難しい課題でした。</p>
                <p>スマートフォンが登場して約10年が経過した今、Webの規格は新しく制定され、新しい端末へ適用できるように拡張が続けられました。</p>
                <p>しかし、Webのこうした新しい規格に完全には対応できていないソフトウェアがあります。</p>
                <p>――そう、<%= config.commons.iet %>です。</p>
                <p>新しく、便利で簡単に利用できる技術であればあるほど、<%= config.commons.iet %>は足かせになるのが現状です。</p>
            </div>
        </section>
        <section class="container my-5 liabilities" id="liabilities">
            <div class="page-header text-center liabilities_header">
                <h2 class="mb-1"><%= config.commons.iet %>の「技術的負債」</h2>
            </div>
            <p class="lead mb-3 text-center">ガタガタに崩れていくホームページ</p>
            <div class="liabilities_contents">
                <p>ここまで<%= config.commons.iet %>を取り巻く現状について述べてきました。</p>
                <p class="mb-3">具体的にどういった点が「技術的負債」になるのか、本ホームページを例に、Google Chromeと<%= config.commons.iet %>のそれぞれの表示について見てみましょう。</p>
                <!-- 1. アイキャッチ -->
                <h3 class="mt-3 mb-1">1. アイキャッチ</h3>
                <p>本ホームページの最初に表示されるアイキャッチは、本来ならば<%- config.commons.ielm %>に<i class="fas fa-fw fa-ban magni1_5" aria-hidden="true"></i>が重なったロゴが画面の中央に表示されるようになっています。</p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/toppage_chrome.jpg" data-lightbox="toppage"><img src="<%= relPath %>img/toppage_chrome.jpg" alt="Google Chromeの表示" class="img-fluid border"></a>
                            <figcaption>Google Chromeの表示</figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/toppage_ie.jpg" data-lightbox="toppage"><img src="<%= relPath %>img/toppage_ie.jpg" alt="<%= config.commons.iet %>の表示" class="img-fluid border"></a>
                            <figcaption><%= config.commons.iet %>の表示</figcaption>
                        </figure>
                    </div>
                </div>
                <p class="mt-1">しかし、<%= config.commons.iet %>では右端に寄ってしまっています。</p>
                <!-- 2. 記事のアイキャッチ画像 -->
                <h3 class="mt-3 mb-1">2. 記事のアイキャッチ画像</h3>
                <p>実例記事一覧のアイキャッチ画像は、画像の横幅と高さが丁度良いサイズで表示されるようになっています。</p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/bgimage_chrome.jpg" data-lightbox="bgimage"><img src="<%= relPath %>img/bgimage_chrome.jpg" alt="Google Chromeの表示" class="img-fluid border"></a>
                            <figcaption>Google Chromeの表示</figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/bgimage_ie.jpg" data-lightbox="bgimage"><img src="<%= relPath %>img/bgimage_ie.jpg" alt="<%= config.commons.iet %>の表示" class="img-fluid border"></a>
                            <figcaption><%= config.commons.iet %>の表示</figcaption>
                        </figure>
                    </div>
                </div>
                <p class="mt-1">しかし、<%= config.commons.iet %>では縦に引き伸ばされてしまいます。</p>
                <!-- 3. グリッドレイアウト -->
                <h3 class="mt-3 mb-1">3. グリッドレイアウト</h3>
                <p>Google ChromeとFirefoxのダウンロードページへのご案内は、</p>
                <ul>
                    <li>Google ChromeとFirefoxは2:1の比率で表示</li>
                    <li>Google Chromeが先(パソコンでは左)</li>
                </ul>
                <p>となるようにデザインしています。</p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/grid_chrome.jpg" data-lightbox="grid"><img src="<%= relPath %>img/grid_chrome.jpg" alt="Google Chromeの表示" class="img-fluid border"></a>
                            <figcaption>Google Chromeの表示</figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/grid_ie.jpg" data-lightbox="grid"><img src="<%= relPath %>img/grid_ie.jpg" alt="<%= config.commons.iet %>の表示" class="img-fluid border"></a>
                            <figcaption><%= config.commons.iet %>の表示</figcaption>
                        </figure>
                    </div>
                </div>
                <p class="mt-1">しかし、<%= config.commons.iet %>は</p>
                <ul>
                    <li>それぞれの比率はおろか、横向きではなく縦向きに表示される</li>
                    <li>Firefoxが先に表示</li>
                </ul>
                <p>と、根本的にデザインが崩れてしまっています。</p>
                <!-- 4. ページトップへ戻るボタン -->
                <h3 class="mt-3 mb-1">4. ページトップへ戻るボタン</h3>
                <p>本ホームページでは、ある程度スクロールすると右下にページトップへ戻るボタンが出現します。</p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/r2pt_chrome.jpg" data-lightbox="r2pt"><img src="<%= relPath %>img/r2pt_chrome.jpg" alt="Google Chromeの表示" class="img-fluid border"></a>
                            <figcaption>Google Chromeの表示</figcaption>
                        </figure>
                    </div>
                    <div class="col-12 col-lg-6">
                        <figure class="m-1 text-center">
                            <a href="<%= relPath %>img/r2pt_ie.jpg" data-lightbox="r2pt"><img src="<%= relPath %>img/r2pt_ie.jpg" alt="<%= config.commons.iet %>の表示" class="img-fluid border"></a>
                            <figcaption><%= config.commons.iet %>の表示</figcaption>
                        </figure>
                    </div>
                </div>
                <p class="mt-1"><%= config.commons.iet %>では、このボタンが一部スクロールバーの裏側に隠れてしまいます。</p>
                <p>そのため、他のブラウザよりも面積が狭く、やや押しづらくなっています。</p>
                <hr>
                <p>本ホームページだけでも、少なからず影響が出ていることが分かるかと思います。</p>
                <p class="mt-3">こうした問題を避けるため、<%= config.commons.iet %>から別のブラウザへの移行をお勧めいたします。</p>
                <p><a href="#download">本ページ下部</a>にダウンロードリンクとマニュアルへのリンクを用意させて頂きました。</p>
                <p>ぜひ、ご活用ください。</p>
            </div>
        </section>
<%- config.commons.junko %>
<%
if(gulpConfig.news) {
    const counter = indexCounter();
%>
        <section class="container-fluid py-5 articles" id="articles">
            <div class="container">
                <div class="page-header mb-3 text-center articles_header">
                    <h2>実例記事一覧</h2>
                </div>
                <div class="articles_contents">
                    <p class="text-center"><%= config.commons.iet %>に関するトラブルや情報の実例記事の一覧(<%= counter %>件)です。</p>
                    <div class="row align-items-top my-4">
<%- include("partial/_newscards.ejs", { relPath, newsBlock }) %>
                    </div>
                </div>
                <div class="text-center">
                    <a href="<%= relPath %>news/news1.html" class="btn btn-light rounded-0"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>過去の実例記事</a>
                </div>
            </div>
        </section>
<% } %>
        <section class="container-fluid py-5 download" id="download">
            <div class="container">
                <div class="page-header text-center download_header">
                    <h2 class="mb-1">ダウンロードのご案内</h2>
                </div>
                <div class="download_contents">
                    <p class="text-center">本ホームページでは以下のブラウザをダウンロードすることをお勧めいたします。</p>
                    <div class="grid_container2 mt-3">
                        <div class="grid_column">
                            <div class="card img-thumbnail text-center h-100 rounded-0">
                                <i class="fab fa-fw fa-10x fa-firefox mx-auto" aria-hidden="true"></i>
                                <div class="card-body px-2 pt-0 pb-3">
                                    <h3 class="card-title mt-0 mb-1">Firefox</h3>
                                    <p class="card-text">Mozilla製の無料ブラウザ</p>
                                    <div class="my-3">
                                        <a href="https://www.mozilla.org/ja/firefox/new/" target="_blank" class="btn btn-primary py-2 px-3 rounded-0"><i class="fas fa-fw fa-download" aria-hidden="true"></i>ダウンロードページへ</a>
                                    </div>
                                    <p class="card-text mt-3 mb-1">※インストール手順やお気に入りの移行方法は下記をご参照ください。</p>
                                    <ul class="text-left fa-ul">
                                        <li><a href="https://support.mozilla.org/ja/kb/how-download-and-install-firefox-windows" target="_blank"><i class="fas fa-li fa-external-link-alt" aria-hidden="true"></i>Firefox のダウンロードとインストールの手順 (Windows)</a></li>
                                        <li><a href="https://support.mozilla.org/ja/kb/import-bookmarks-internet-explorer-or-microsoft-ed" target="_blank"><i class="fas fa-li fa-external-link-alt" aria-hidden="true"></i><%= config.commons.iet %> や Microsoft Edge からお気に入りをインポートする</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="grid_column">
                            <div class="card img-thumbnail text-center h-100 rounded-0">
                                <i class="fab fa-fw fa-10x fa-chrome mx-auto" aria-hidden="true"></i>
                                <div class="card-body px-2 pt-0 pb-3">
                                    <h3 class="card-title mt-0 mb-1">Google Chrome</h3>
                                    <p class="card-text">Google製の無料ブラウザ</p>
                                    <div class="my-3">
                                        <a href="https://www.google.com/chrome/" target="_blank" class="btn btn-primary py-2 px-3 rounded-0"><i class="fas fa-fw fa-download" aria-hidden="true"></i>ダウンロードページへ</a>
                                    </div>
                                    <p class="card-text mt-3 mb-1">※インストール手順やお気に入りの移行方法は下記をご参照ください。</p>
                                    <ul class="text-left ml-5 fa-ul">
                                        <li class="ml-5"><a href="https://support.google.com/chrome/answer/95346" target="_blank"><i class="fas fa-li fa-external-link-alt" aria-hidden="true"></i>Google Chrome をダウンロードしてインストールする</a></li>
                                        <li class="ml-5"><a href="https://support.google.com/chrome/answer/96816" target="_blank"><i class="fas fa-li fa-external-link-alt" aria-hidden="true"></i>ブックマークと設定をインポートする</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container my-5 references" id="developers">
            <div class="page-header mb-3 text-center developers_header">
                <h2>開発者の方へ</h2>
            </div>
            <div class="developers_contents">
                <p class="text-center">開発者の方への参考リンクなどを集めました。</p>
                <div class="text-center mt-3 mb-5">
                    <a href="<%= relPath %>developers.html" class="btn btn-primary rounded-0"><i class="fas fa-fw fa-chevron-right" aria-hidden="true"></i>開発者の方へ</a>
                </div>
            </div>
        </section>
    </main>
    <!-- /main -->
</div>
<%- include("partial/_footer", { config, copyRightYear }) %>
</div>
<%- include("partial/_js_loader", { parameters, relPath }) %>
</body>
</html>